.send_container {
    margin: 12px;
}

.send_input_container {
    margin-bottom: 0 !important;
    width: 380px !important;
}

.send_input_container_short {
    margin-bottom: 0 !important;
    width: 325px !important;
}
