.error_container {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.error_image {
    display: block;
    margin: 120px auto 40px;
    height: 180px;
}

.error_title {
    font-family: 'Roboto', serif;
    text-align: center;
    margin-bottom: 12px;
    font-size: 24pt;
    color: #474A4E;
}

.error_description {
    font-family: 'Roboto Thin', serif;
    text-align: center;
    font-size: 18pt;
    width: 500px;
    margin: 0 auto;
    color: #474A4E;
}
