.account_container {
    overflow: hidden !important;
    min-width: 732px !important;
    margin-top: 42px !important;
}

.account_send_button {
    width: 200px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
