body {
    line-height: 2.5em !important;
}

@font-face {
    font-family: 'Roboto';
    src: url('../static/font/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../static/font/roboto/Roboto-Thin.ttf');
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clear {
    clear: both;
}

.space {
    height: 12px;
}

.space_medium {
    height: 18px;
}
